
.pos{
    background-color: darkmagenta;
    height: 35px;
}
.one{
    margin-top: 8px;
    margin-left: 2%;
}
.two{
    margin-top: 8px;
    margin-left: 25%;
    color: blanchedalmond;
}
.arr img{
    vertical-align: middle;
    border: 0ch;
    box-sizing: border-box;
    margin-left: 23%;
}


.sec img{
    max-width: 100%;
    margin-left: 23%;
    width: 457.5px;
   margin-top: 23px;
}
.mycontainer{
    margin-top: 5%;
}
.frist h4{
    color: darkmagenta;
    margin-left: 23%;
}
.frist h5{
    margin-left: 23%;
    font-family: 'muli'!important;
    font-weight: 400;
    font-style: normal;
    color: #414141;
    line-height: 28px;
    margin-bottom: 12px;
    font-size: 15px;
    max-width: 565px;
}
.nav-link{
    color: black;
}
sec h1{
    margin-left: 35%;
}
.sec img{
    width: 500px;
}
.row1{
position: absolute;
top: 30%;
}
.col-1{
    flex: 0 0 auto;
width: 35.333%;
}
.frist h1{
    font-size: 32px;
    margin-bottom: 20px;
    padding-top: 22px;
    color: #5e068a;
    font-weight: 700;
    max-width: 540px;
    line-height: 1.2;
    text-transform: capitalize;
    margin-left: 15%;
    
}
.sec h1{
   font-size: 32px;
   color: #5e068a99;
   font-weight: 700;
   max-width: 540px; 
   text-transform: capitalize;
    line-height: 1.2;
    padding-top: 22px;
    margin-left: -135%;

}
.button-default{
    background: #5e068a none repeat scroll 0 0;
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
    font-weight: 680px;
    border-radius: 58px;
    margin: 173px;
    margin-top: 0px;
    border: 2px solid #5e068a;
    box-sizing: border-box;
padding: 16px 27px;
display: inline-block;
    text-transform: uppercase;

}
